.Parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Foto{
  float: left;
  width: 50%;
  height: 700px;
  background: white;
}

.Foto img{
  height: 100%;
  width: 100%;
}

.Deskripsi a:hover{
  color: white;
  background: rgb(221, 135, 135);
}

.Deskripsi ul li {
  padding-bottom: 10px;
}

.Deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info{
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;
  
}
.Deskripsi .Cate{
  color: #acaeb2;
}

button {
  background-color: palevioletred;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
}

a{
  text-decoration: none;
  color: #ffffff;
}
.Deskripsi a:hover{
  color: white;
  background: ;
}

.Review-box{
  clear: 80;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.Review-box h2{
  margin-top: 50px;
}

.Review-box img{
  width: 80px;
  height: 80px;
  background: #b1b1b1;
  border-radius: 11px;
  float: left;
}

.Review-box .User p, h3{
  margin: 0;
}


.Review-box .User h3{
  padding-top: 6px;
  margin-bottom: 8px;
}

.Review-box .Item{
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}

